* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

span {
  font-weight: 700;
  font-size: 14px;
}

p {
  font-size: 14px;
}

.app {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
